
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="基于Material Design的主流前端响应式框架">
    <meta name="keywords" content="手册 - Materialize - 模态,materialize中文网,materialize,	materializecss 文档,materialize框架二级菜单,materialize中文文档网,Materialize使用指南,Materialize中文站">
    <title>手册 - Materialize - 模态</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
    <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="/css/prism.css" rel="stylesheet">
    <link href="/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- materializecss-font.css -->
    <link href="/css/materializecss-font.css" rel="stylesheet" type="text/css">
    <!--
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     -->
    <script>
      window.liveSettings = {
        api_key: "a0b49b34b93844c38eaee15690d86413",
        picker: "bottom-right",
        detectlang: true,
        dynamic: true,
        autocollect: true
      };
    </script>

  </head>
  <body>
    <header>

        <nav class="top-nav">
    <div class="container">
    <div class="nav-wrapper"><a class="page-title">模态</a></div>
    </div>
    </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="index.html" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="/res/materialize.svg">你的浏览器不支持SVG</object></a></li>
        <li class="search">
          <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li>
        <li class="bold "><a href="/about.html" class="waves-effect waves-teal">关于我们</a></li>
        <li class="bold "><a href="/getting-started.html" class="waves-effect waves-teal">开始学习</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold "><a class="collapsible-header  waves-effect waves-teal">CSS</a>
              <div class="collapsible-body">
                <ul>
                  <li class=''><a href="/color.html">颜色</a></li>
                  <li class=''><a href="/grid.html">网格</a></li>
                  <li class=''><a href="/helpers.html">助手</a></li>
                  <li class=''><a href="/media-css.html">媒体</a></li>
                  <li class=''><a href="/sass.html">Sass</a></li>
                  <li class=''><a href="/shadow.html">阴影效果</a></li>
                  <li class=''><a href="/table.html">表格</a></li>
                  <li class=''><a href="/typography.html">字体样式</a></li>
                </ul>
              </div>
            </li>
            <li class="bold "><a class="collapsible-header   waves-effect waves-teal">组件</a>
              <div class="collapsible-body">
                <ul>
                  <li class=''><a href="/badges.html">徽章</a></li>
                  <li class=''><a href="/buttons.html">按钮</a></li>
                  <li class=''><a href="/breadcrumbs.html">路径导航</a></li>
                  <li class=''><a href="/cards.html">卡片</a></li>
                  <li class=''><a href="/chips.html">信息块</a></li>
                  <li class=''><a href="/collections.html">集合</a></li>
                  <li class=''><a href="/footer.html">页脚</a></li>
                  <li class=''><a href="/forms.html">表单</a></li>
                  <li class=''><a href="/icons.html">图标</a></li>
                  <li class=''><a href="/navbar.html">导航条</a></li>
                  <li class=''><a href="/pagination.html">分页组件</a></li>
                  <li class=''><a href="/preloader.html">预加载组件</a></li>
                </ul>
              </div>
            </li>
            <li class="bold active"><a class="collapsible-header active waves-effect waves-teal">JavaScript</a>
              <div class="collapsible-body">
                <ul>
                  <li class=''><a href="/carousel.html">轮播组件</a></li>
                  <li class=''><a href="/collapsible.html">折叠</a></li>
                  <li class=''><a href="/dialogs.html">对话框</a></li>
                  <li class=''><a href="/dropdown.html">下拉列表</a></li>
                  <li class=''><a href="/media.html">媒体</a></li>
                  <li class='active'><a href="/modals.html">模态</a></li>
                  <li class=''><a href="/parallax.html">视差</a></li>
                  <li class=''><a href="/pushpin.html">图钉</a></li>
                  <li class=''><a href="/scrollfire.html">滚动显示</a></li>
                  <li class=''><a href="/scrollspy.html">滚动监听</a></li>
                  <li class=''><a href="/side-nav.html">侧边导航</a></li>
                  <li class=''><a href="/tabs.html">标签</a></li>
                  <li class=''><a href="/transitions.html">透明</a></li>
                  <li class=''><a href="/waves.html">波纹效果</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold "><a href="/mobile.html" class="waves-effect  waves-teal">手机</a></li>
        <li class="bold "><a href="/showcase.html" class="waves-effect  waves-teal">案例展示</a></li>
      </ul>
    </header>
        <main><div class="container bsa">
  <div class="row">
    <div class="col s12 m9 l10">

      <div id="introduction" class="section scrollspy">
        <h4>介绍</h4>
        <p>给对话框，确认信息框，或者其他内容使用模态时可以调用。为了使模态工作，你需要给模态一个Id来关联触发器。增加一个关闭按钮，只要增加类 <code class="language-css">.modal-close</code>到你的关闭按钮上。</p>
        <a class="waves-effect waves-light btn" href="#modal1">模态</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" href="#modal2">固定底部的模态</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" href="#modal3">底部样式的模态</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>模态标题</h4>
            <p>人的一生，其实就是一场自己对自己的战争。每个人的身上，都有两个自己：好的自己和坏的自己。让积极打败消极，让高尚打败鄙陋，让真诚打败虚伪，让宽容打败计较，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。只要你愿意，完全可以一辈子都做最好的自己</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">不同意</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">同意</a>
          </div>
        </div>
        <div id="modal2" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>模态标题</h4>
            <p>人的一生，其实就是一场自己对自己的战争。每个人的身上，都有两个自己：好的自己和坏的自己。让积极打败消极，让高尚打败鄙陋，让真诚打败虚伪，让宽容打败计较，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。只要你愿意，完全可以一辈子都做最好的自己</p>
            <p>人的一生，其实就是一场自己对自己的战争。每个人的身上，都有两个自己：好的自己和坏的自己。让积极打败消极，让高尚打败鄙陋，让真诚打败虚伪，让宽容打败计较，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。只要你愿意，完全可以一辈子都做最好的自己</p>
            <p>人的一生，其实就是一场自己对自己的战争。每个人的身上，都有两个自己：好的自己和坏的自己。让积极打败消极，让高尚打败鄙陋，让真诚打败虚伪，让宽容打败计较，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。只要你愿意，完全可以一辈子都做最好的自己</p>
            <p>人的一生，其实就是一场自己对自己的战争。每个人的身上，都有两个自己：好的自己和坏的自己。让积极打败消极，让高尚打败鄙陋，让真诚打败虚伪，让宽容打败计较，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。只要你愿意，完全可以一辈子都做最好的自己</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">不同意</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">同意</a>
          </div>
        </div>
        <div id="modal3" class="modal bottom-sheet">
          <div class="modal-content">
            <h4>模态标题</h4>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">标题</span>
                <p>第一行 <br>
                   第二行
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">标题</span>
                <p>第一行 <br>
                   第二行
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">assessment</i>
                <span class="title">标题</span>
                <p>第一行 <br>
                   第二行
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">标题</span>
                <p>第一行 <br>
                   第二行
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>



        <div id="structure" class="scrollspy section">
          <h4>模态的HTML结构</h4>
          <pre><code class="language-markup">
  &lt;!-- Modal Trigger -->
  &lt;a class="waves-effect waves-light btn" href="#modal1">模态&lt;/a>

  &lt;!-- Modal Structure -->
  &lt;div id="modal1" class="modal">
    &lt;div class="modal-content">
      &lt;h4>模态标题&lt;/h4>
      &lt;p>一堆文本&lt;/p>
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">同意&lt;/a>
    &lt;/div>
  &lt;/div>
          </code></pre>
        </div>


        <div id="fixed-footer" class="scrollspy section">
          <h4>固定底部的模态</h4>
          <p>如果你有内容并且很长，并且你想你的动作按钮一直可见，你可以增加<code class="language-markup">modal-fixed-footer</code>类到模态。</p>
          <pre><code class="language-markup">
  &lt;!-- Modal Trigger -->
  &lt;a class="modal-trigger waves-effect waves-light btn" href="#modal1">模态&lt;/a>

  &lt;!-- Modal Structure -->
  &lt;div id="modal1" class="modal modal-fixed-footer">
    &lt;div class="modal-content">
      &lt;h4>模态标题&lt;/h4>
      &lt;p>一堆文本&lt;/p>
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">同意&lt;/a>
    &lt;/div>
  &lt;/div>
          </code></pre>
        </div>

        <div id="bottom-sheet" class="scrollspy section">
          <h4>底部样式的模态</h4>
          <p>底部样式的模态用于展示动作给用户在屏幕的底部是很擅长的。他们仍然扮演常规模态。</p>
          <pre><code class="language-markup">
  &lt;!-- Modal Trigger -->
  &lt;a class="waves-effect waves-light btn" href="#modal1">模态&lt;/a>

  &lt;!-- Modal Structure -->
  &lt;div id="modal1" class="modal bottom-sheet">
    &lt;div class="modal-content">
      &lt;h4>模态标题&lt;/h4>
      &lt;p>一堆文本&lt;/p>
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">同意&lt;/a>
    &lt;/div>
  &lt;/div>
          </code></pre>
        </div>

        <div id="button-trigger" class="scrollspy section">
          <h4>按钮触发的模态</h4>
          <p>如果你更喜欢使用按钮来开启模态，你可以将模态的ID放在 <code class="language-markup">data-target</code>里面。</p>

          <pre><code class="language-markup">
  &lt;!-- Modal Trigger -->
  &lt;button data-target="modal1" class="btn">模态&lt;/button>
          </code></pre>
        </div>



        <div id="initialization" class="scrollspy section">
          <h4>jQuery 插件初始化</h4>
          <p>使用触发器开启模态:</p>
          <pre><code class="language-javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
          </code></pre>
          <p>你也可以通过程序打开模态，下面的代码将使你模态打开。</p>
          <pre><code class="language-javascript">
  $('#modal1').modal('open');
          </code></pre>
          <p>你也可以通过程序关闭模态:</p>
          <pre><code class="language-javascript">
  $('#modal1').modal('close');
        </code></pre>
      </div>



      <div id="options" class="scrollspy section">
        <h4>选项</h4>
        <p>您可以使用这些选项自定义每个模态的行为。例如，当一个模态被销毁时触发一个自定义函数来运行。要做到这一点，就将你的函数在初始化代码中指定，如下所示。</p>
        <pre><code class="language-javascript">
  $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      starting_top: '4%', // Starting top style attribute
      ending_top: '10%', // Ending top style attribute
      ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        alert("Ready");
        console.log(modal, trigger);
      },
      complete: function() { alert('Closed'); } // Callback for Modal close
    }
  );
      </code></pre>
    </div>

</div>

<!-- Table of Contents -->
  <div class="col hide-on-small-only m3 l2">
    <div class="toc-wrapper">

      <div style="height: 1px;">
        <ul class="section table-of-contents">
          <li><a href="#introduction">介绍</a></li>
          <li><a href="#structure">结构</a></li>
          <li><a href="#fixed-footer">固定底部</a></li>
          <li><a href="#bottom-sheet">底部样式</a></li>
          <li><a href="#button-trigger">按钮触发</a></li>
          <li><a href="#initialization">初始化</a></li>
          <li><a href="#options">选项</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>

    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">相关网站</h5>
            <ul>
              <li><a class="white-text" target='_blank' href="http://www.okgoes.com">完美起航</a></li>
              <li><a class="white-text" target='_blank' href="http://note.okgoes.com/">起航笔记</a></li>
              <li><a class="white-text" target='_blank' href="http://www.vuematerial.com/">Vue Material中文</a></li>
	            <li><a class="white-text" target='_blank' href="http://blog.okgoes.com/">起航博客</a></li>
              <li><a class="white-text" target='_blank' href="http://forum.okgoes.com/forum.php">起航论坛</a></li>
            </ul>
          </div>
          <div class="col l4 s12">
            <h5 class="white-text">学习交流</h5>
            <p class="grey-text text-lighten-4">我们为此开发了一个关于Materialize UI框架学习的论坛，你可以在这个论坛分享你的学习经验，同时得到我们的技术帮助。</p>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=a483a26b5f09e710a058154e816b89366870562955be319050b7d096ffe0f9c2"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="materialize学习交流" title="materialize学习交流"></a>
            <br/>
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="http://c.materializecss.cn/">Materialize交流社区</a>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">联系我们</h5>
            <!--
            <iframe src="http://ghbtns.com/github-btn.html?user=dogfalo&repo=materialize&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
             -->
             <a href="http://wpa.qq.com/msgrd?V=3&amp;uin=473166512&amp;Site=完美起航&amp;Menu=yes&amp;from=okgoes" target="_blank" title="QQ"><img src="/images/site_qq.jpg" alt="QQ" style="vertical-align: middle;"></a>
            <br>
            <a href="mailto:473166512@qq.com" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">473166512@qq.com</a>
            <br>
            <div><h5 class="white-text">网站信息</h5></div>
            <div><a class="white-text" href="http://www.miitbeian.gov.cn/">赣ICP备15002760号-4</a></div>
            <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/108619793845925798422" data-rel="publisher"></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014-2016 Materialize, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
        </div>
      </div>
    </footer>

    <!-- count -->
    <script src='http://manual.okgoes.com/index/count'></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?478902902272d2025e064ebc5eb6c99c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <!--  Scripts-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }
    </script>
    <script src="/js/jquery.timeago.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/jade/lunr.min.js"></script>
    <script src="/jade/search.js"></script>
    <script src="/bin/materialize.js"></script>
    <script src="/js/init.js"></script>
<script type="text/javascript" src='/js/adv.min.js'></script>
<script type="text/javascript">createAdv(200, 200,"rightCenter", "https://s.click.taobao.com/t?e=m%3D2%26s%3DznqHlRDnF5QcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAnT5i1FeR%2BHExBEf%2F8FFdHx%2FtK0Figy3wdlS6sJWbBwf39gsB8kJ3DFv%2BK4tnq%2FMVjDVuRn8ddiDsEVVC24eqozO54LQ%2FVw1L9X5LHh3Z8M%2BWS6ALZVeqlk9XUfbPSJC%2F06deTzTIbffYpyF7ku%2BxKgGargQjSAC4C6cUF%2FXAmem", "/images/aliyun/adv1/200-200.jpg")</script>

  </body>
</html>